html {
  font-size: 62.5%;
}
body {
  color: $charcoal;
  line-height: 1.6;
}
.header-1 {
  font-family: $main-font;
  font-weight: 700;
  position: absolute;
  font-size: 10rem;
  text-align: left;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: column wrap;
  margin: 20px 0;
  padding: 0;
  @media (max-width: $first-breakpoint) {
    font-size: 7rem;
  }
}
.header-2 {
  font-family: $second-font; 
  font-size: 6rem; 
  font-weight: 400;
  letter-spacing: 1px;
  color: darken($charcoal, 10);
  &--center {
    text-align: center;
  }
  &--title {
    text-align: center;
  }
  @media (max-width: $first-breakpoint) {
    font-size: 4rem;
  }
  @media (max-width: $second-breakpoint) {
    font-size: 3rem;
    text-align: right;
  }
  @media (max-width: $third-breakpoint) {
    font-size: 2.5rem;
    text-align: center;
  }
  &--small {
    font-size: 3rem;
    writing-mode: vertical-lr;
  }
  &--final {
    font-size: 3rem;
    @media (max-width: $third-breakpoint) {
      font-size: 2rem;
    }
    @media (max-width: $third-breakpoint) {
      font-size: 1.5rem;
      width: 100%;
    }
  }
}
.header-3 {
  font-size: 2rem;
}
.option {
  font-size: 5rem;
  font-family: $main-font;
  text-transform: uppercase;
  color: $charcoal;
  @media (max-width: $first-breakpoint) {
    font-size: 3rem;
  }
  @media (max-width: $third-breakpoint) {
    font-size: 2.5rem;
  }
  @media (max-width: $third-breakpoint) {
    font-size: 2rem;
  }
}
.hl {
  font-weight: 700;
  font-size: 9rem;
  line-height: 1.6;
  font-family: $main-font;
  @media (max-width: $first-breakpoint) {
    font-size: 6rem;
  }
  @media (max-width: $second-breakpoint) {
    font-size: 5rem;
  }
  @media (max-width: $third-breakpoint) {
    font-size: 4rem;
  }
  @media (max-width: $third-breakpoint) {
    font-size: 2.5rem;
  }
  &--block {
    display: block;
  }
}
.paragraph--input{
  font-size: 3rem;
  @media (max-width: $third-breakpoint) {
    font-size: 1.5rem;
  }
}
.paragraph {
  color: darken($charcoal, 10);
  font-size: 1.9rem;
  line-height: 1.8;
}
.button__text {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}