$burgundy: #613A43;
$charcoal: #36384c;
$sienna: #942911;
$gold: #7d4f50;
$second-font: 'Roboto', sans-serif;
$main-font: 'Vollkorn', sans-serif;
$third-font: 'Alice', serif;
$blue: #679f9d;
$real-gold: #e8d996;
