// FONTS
$main-font: 'Roboto', sans-serif;
$second-font: 'Alice', serif;
// COLORS
$charcoal: #36384c;
$main-red: #7d4f50;
$main-beige: #e8d996;
$blue: #679f9d;
// BREAKPOINTS
$first-breakpoint: 1750px;
$second-breakpoint: 1400px;
$third-breakpoint: 800px;
$fourth-breakpoint: 500px;

img {
  max-width: 100%;
}