$petal: #E3BAB3;
$cream: #E9DCCD;
$burgundy: #613A43;
$fresh: #849974;
$charcoal: #36384c;
$dark-vanilla: #D3CBa7;
$tigers-eye: #D8973C;
$sienna: #942911;
$gold: #7d4f50;
$dark-sienna: #3F0D12;
$champagne-pink: #EDDDD4;
$second-font: 'Roboto', sans-serif;
$main-font: 'Vollkorn', sans-serif;
$third-font: 'Alice', serif;


